[submodule "pcb2blender_importer/mat4cad"]
	path = pcb2blender_importer/mat4cad
	url = https://github.com/30350n/mat4cad.git
[submodule "pcb2blender_importer/custom_node_utils"]
	path = pcb2blender_importer/custom_node_utils
	url = https://github.com/30350n/custom_node_utils.git
[submodule "pcb2blender_importer/io_scene_x3d"]
	path = pcb2blender_importer/io_scene_x3d
	url = https://projects.blender.org/extensions/io_scene_x3d.git
